body,
html,
#root {
	cursor: default;
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	width: 100%;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
